@model OjExam.Model.Teacher

    @section Name{
        @Model.Name
    }
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;" data-url="/" data-id="1" tab-item>
            考试管理
        </a>
    </li>
