@model OjExam.Model.Teacher

    @section Name{
        @Model.Name 教师
    }
    <li class="layui-nav-item layui-nav-itemed">
        <a href="javascript:;" data-url="/Exam/Index" data-id="1" tab-item>
            考试管理
        </a>
    </li>
