@model OjExam.Model.Student

@section Name{
    @Model.Name 学生
}
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="/Exam/Query" data-id="1" tab-item>
        考试查看
    </a>
</li>
