@model OjExam.Model.Admin

@section Name{
    @Model.LName
}


<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="welcome.html" data-id="11" tab-item>
        学生管理
    </a>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="http://amazeui.org/widgets/m" data-id="1" tab-item>
        教师管理
    </a>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="/Class/Index" data-id="2" tab-item>
        班级管理
    </a>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="http://amazeui.org/widgets/m" data-id="1" tab-item>
        学科管理
    </a>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="http://amazeui.org/widgets/m" data-id="1" tab-item>
        知识点管理
    </a>
</li>
<li class="layui-nav-item layui-nav-itemed">
    <a href="javascript:;" data-url="http://amazeui.org/widgets/m" data-id="1" tab-item>
        试题管理
    </a>
</li>
